/*
===============================================================================
VARIABLES
===============================================================================
*/

$tablet-width: 769px;
$desktop-width: 1200px;

$base-font-size: 10px;

$color-black: #000;
$color-grey-lg: #222;
$color-grey-md: #333;
$color-grey-sm: #666;
$color-grey-xs: #e0e3e8;
$color-white: #fff;
$color-link: #5375ae;