/*
===============================================================================
MIXINS
===============================================================================
*/

@mixin media($type) {
    @if $type == tablet {
        @media only screen and (min-width: $tablet-width) {
            @content;
        }
    } @else if $type == desktop {
        @media only screen and (min-width: $desktop-width) {
            @content;
        }
    }
}

@mixin flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

@mixin flexitem($values) {
    -webkit-box-flex: $values;
    -webkit-flex: $values;
    flex: $values;
}