/*
  ===============================================================================
  HELPER CLASSES
  ===============================================================================
*/

.page-wrapper {
    position: relative;
    z-index: 1;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0 2rem;
    @include media(desktop) {
        width: 90%;
    }
}