/*
===============================================================================
FOOTER
===============================================================================
*/

.footer {
    display: table-row;
    width: 100%;
    height: 0;
}

.list {
    border-top: 1px solid $color-grey-md;
    margin: 0 auto;
    padding: 1.5rem 0 2.4rem 0;
    text-align: center;
    width: 100%;
    .list-item {
        display: inline-block;
        margin-right: 2rem;
        &:last-child {
            margin-right: 0;
        }
    }
    .list-item-link {
        font-weight: 600;
        color: $color-link;
        &:hover {
            text-decoration: underline;
        }
    }
}