/*
===============================================================================
HEADER
===============================================================================
*/

/*.header {
    width: 100%;
    background-color: $color-grey-md;
}*/

.header {
    background: $color-grey-md url("../images/image-brand.png") no-repeat;
    position: relative;
    background-size: cover;
    background-position: top center;
    height: 25rem;
    @include media(tablet) {
        height: 43rem;
    }
    @include media(desktop) {
        background-size: contain;
    }
}