/*
===============================================================================
MAIN
===============================================================================
*/

.main {
    margin: 3rem 0;
}

.modal-toggle {
    background-color: $color-grey-sm;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.6rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.4rem;
    color: $color-white;
    transition: background-color 300ms;
    &:hover {
        background-color: $color-black;
    }
    @include media(desktop) {
        display: inline-block;
    }
}

.modal-notification {
    background-color: $color-grey-sm;
    margin-bottom: 2rem;
    position: relative;
    padding: 1.6rem 2rem;
    color: $color-white;
    .modal-close {
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        padding: 0.3rem 0.5rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        transition: all 300ms;
        &::after {
            content: "\002715";
        }
        &:hover {
            background-color: $color-black;
        }
    }
    .modal-notification-title {
        font-size: 1.4rem;
        font-weight: normal;
        margin-bottom: 1rem;
    }
    .modal-text {
        //padding-right: 1rem;
    }
}

