.tiles {
    //margin-top: 3rem;
}

.tiles-container {
    @include flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include media(tablet) {
        flex-direction: row;
    }
}

.tiles-item {
    flex: 0 0 32.33333333333333%;
    margin: .5%;
    line-height: 1.4;
    .tiles-link {
        display: block;
    }
    .tiles-image {
        transition: all 0.3s;
        &:hover {
            box-shadow: 0 0.2rem 0 0 rgba(0, 0, 0, 0.2);
        }
    }
    .tiles-caption {
        padding: 1rem 0 2rem 0;
    }
    @include media(desktop) {
        flex: 0 0 31.73333333%;
        margin: .8%;
    }
    

}