/*
===============================================================================
ELEMENTS
===============================================================================
*/

html, body {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: $color-grey-lg;
}

h1, h2, h3 {
    margin-bottom: 1.2rem;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    @include media(desktop) {
        font-size: 3.6rem;
    }
}

h2 {
    font-size: 2.2rem;
    @include media(desktop) {
        font-size: 2.9rem;
    }
}

h3 {
    font-size: 1.6rem;
    @include media(desktop) {
        font-size: 2.3rem;
    }
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.4;
    &:last-child {
        margin-bottom: 0;
    }
}

p a {
    color: $color-link;
    &:hover {
        text-decoration: underline;
    }
}