/* VARIABLES */
/*
===============================================================================
VARIABLES
===============================================================================
*/
/* MIXINS */
/*
===============================================================================
MIXINS
===============================================================================
*/
/* RESET */
/*
  ===============================================================================
  RESET MINIMAL
  ===============================================================================
*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    line-height: 1;
    font-family: sans-serif;
    font-size: 1rem;
    background: #fff;
}

iframe {
    border: 0;
}

main {
    display: block;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

dl {
    margin-top: 0;
    margin-bottom: 0;
}

dd {
    margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
}

blockquote {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

sup {
    position: relative;
    top: -.5em;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

strong {
    font-weight: bold;
}

figure {
    margin: 0;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

a:link, a:visited {
    background: transparent;
    text-decoration: none;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-transform: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
    overflow: visible;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ELEMENTS */
/*
===============================================================================
ELEMENTS
===============================================================================
*/
html, body {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #222;
}

h1, h2, h3 {
    margin-bottom: 1.2rem;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 3.6rem;
    }
}

h2 {
    font-size: 2.2rem;
}

@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 2.9rem;
    }
}

h3 {
    font-size: 1.6rem;
}

@media only screen and (min-width: 1200px) {
    h3 {
        font-size: 2.3rem;
    }
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

p:last-child {
    margin-bottom: 0;
}

p a {
    color: #5375ae;
}

p a:hover {
    text-decoration: underline;
}

/* LAYOUT */
/*
===============================================================================
HEADER
===============================================================================
*/
/*.header {
    width: 100%;
    background-color: $color-grey-md;
}*/
.header {
    background: #333 url("../images/image-brand.png") no-repeat;
    position: relative;
    background-size: cover;
    background-position: top center;
    height: 25rem;
}

@media only screen and (min-width: 769px) {
    .header {
        height: 43rem;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        background-size: contain;
    }
}

/*
===============================================================================
MAIN
===============================================================================
*/
.main {
    margin: 3rem 0;
}

.modal-toggle {
    background-color: #666;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.6rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.4rem;
    color: #fff;
    transition: background-color 300ms;
}

.modal-toggle:hover {
    background-color: #000;
}

@media only screen and (min-width: 1200px) {
    .modal-toggle {
        display: inline-block;
    }
}

.modal-notification {
    background-color: #666;
    margin-bottom: 2rem;
    position: relative;
    padding: 1.6rem 2rem;
    color: #fff;
}

.modal-notification .modal-close {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    padding: 0.3rem 0.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 300ms;
}

.modal-notification .modal-close::after {
    content: "\002715";
}

.modal-notification .modal-close:hover {
    background-color: #000;
}

.modal-notification .modal-notification-title {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

/*
===============================================================================
FOOTER
===============================================================================
*/
.footer {
    display: table-row;
    width: 100%;
    height: 0;
}

.list {
    border-top: 1px solid #333;
    margin: 0 auto;
    padding: 1.5rem 0 2.4rem 0;
    text-align: center;
    width: 100%;
}

.list .list-item {
    display: inline-block;
    margin-right: 2rem;
}

.list .list-item:last-child {
    margin-right: 0;
}

.list .list-item-link {
    font-weight: 600;
    color: #5375ae;
}

.list .list-item-link:hover {
    text-decoration: underline;
}

/* COMPONENTS */
.tiles-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media only screen and (min-width: 769px) {
    .tiles-container {
        flex-direction: row;
    }
}

.tiles-item {
    flex: 0 0 32.33333333333333%;
    margin: .5%;
    line-height: 1.4;
}

.tiles-item .tiles-link {
    display: block;
}

.tiles-item .tiles-image {
    transition: all 0.3s;
}

.tiles-item .tiles-image:hover {
    box-shadow: 0 0.2rem 0 0 rgba(0, 0, 0, 0.2);
}

.tiles-item .tiles-caption {
    padding: 1rem 0 2rem 0;
}

@media only screen and (min-width: 1200px) {
    .tiles-item {
        flex: 0 0 31.73333333%;
        margin: .8%;
    }
}

/* HELPERS */
/*
  ===============================================================================
  HELPER CLASSES
  ===============================================================================
*/
.page-wrapper {
    position: relative;
    z-index: 1;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0 2rem;
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 90%;
    }
}
